@model  Automarket.Domain.Entity.Car;

@{
    ViewBag.Title = "GetCar";
}

<h2>GetCar</h2>
img
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Price</p>
<p>@Model.TypeCar</p>
<p>@Model.Model</p>
<p>@Model.DateCreate</p>

